@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


#box {
  border: white 5px solid;
  box-shadow: 2px;
  border-radius: 10px;
}

.title {
  font-family: "Lobster";
  color: rgba(0, 0, 0, 1);
  margin: auto;
}


/*---------------Media Queries iPad Pro---------------*/
@media only screen and (max-width: 1366) {

}


/*---------------Media Queries iPad---------------*/
@media only screen and (max-width: 1024) {

}


/*---------------Media Queries iPhone X---------------*/
@media only screen and (max-width: 480) {

  }


/*---------------Media Queries iPhone 6/7/8---------------*/
@media only screen and (max-width: 375px) {


  }

