@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


#box {
  border: white 5px solid;
  box-shadow: 2px;
  border-radius: 10px;
}

.title {
  font-family: "Lobster";
  color: rgba(0, 0, 0, 1);
  margin: auto;
}

@media only screen and (max-width: 480px) {
  .title {
    font-family: "Lobster";
    color: rgba(0, 0, 0, 1);
    margin-left: auto;
    margin-right: auto;
  }

  }

