@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.about-form { 
  display: grid;
  text-align: left;
  align-items: stretch;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  width: 70%;
  align-self: center;
  padding: 50px 20px;
  justify-content: center;
  position: center;
  background: linear-gradient(117.82deg, rgba(235, 235, 235, 0) 1.58%, rgba(95, 95, 95, 0.4) 81.08%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
  border-radius: 40px;
  justify-content: center;
  margin: 0 auto;
}
.about-image {
  width: 400px;
  margin: auto;
  height: 500px;
  box-shadow: 10px 10px 20px black;
}
.about-detail {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  color: white;
  align-items: center;
  margin-left: 20px;
}

.about-title {
  font-size: 50px;
  font-family: "Lobster";
}

.about-me {
  padding-top: 25px;
  font-size: 30px;
}


@media only screen and (max-width: 1024px) {
  .about-image {
    width: 300px;
    margin: 15px;
    padding: 10px;
  }
  .about-detail {
    padding: 0px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
  }
  .info-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 599px) {
  .about-detail {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {

  .about-form { 
    width: 500px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-image {
    width: 300px;
    height: 600px;
    padding-top: 20px;
    /* margin: 15px;
    padding: 10px; */
  }

  .about-me {
    padding-top: 25px;
    font-size: 16px;
  }
}