@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.navbar {
  background: linear-gradient(125.53deg, #FFFFFF -642.42%, rgba(255, 255, 255, 0.4) -642.41%, rgba(255, 255, 255, 0.321897) -642.4%, rgba(255, 255, 255, 0.3) -571.6%);
  box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  height: 100%;
  /* Note: backdrop-filter has minimal browser support */
}



.links {
  display: flex;
  justify-content: space-between;
  font-size: 80px;
  margin:  auto 0;
  margin-left: 20px;
  width: 100%;
  font-family: 'Banger', sans-serif;
  text-decoration: none;
}

.links :hover {
text-decoration: none;
}

.links a {
color: #31572C;
text-decoration: none;
/* text-align: center; */

}

/* .links a {
  display: inline;
} */ */

/*---------------IDs---------------*/

#appName {
  margin-left: 20px;
  font-size: 30px;
  font-family: 'Banger', cursive;
}



/*---------------Media Queries iPad---------------*/

@media only screen and (min-width: 768px) {

  .nav {
      display: flex;
      justify-content: space-between;
      padding-right: 20px; 
  }

  .links {
      font-size: 23px;
      width: 50%;
  }

  #appName {
      font-size: 45px;
  }

}

/*---------------Media Queries iPad Pro---------------*/

@media only screen and (min-width: 1024px) {

  .links {
      font-size: 25px;
      width: 50%;
  }

  /* .userWelcome {
      padding-left: 255px;
  } */

  #appName {
      font-size: 60px;
  }

}

/*---------------Media Queries Laptop---------------*/


@media only screen and (min-width: 1366px) {
  .links {
      font-size: 30px;
      width: 45%;
  }

  #appName {
      font-size: 75px;
  }
}

/*---------------Media Queries Desktop---------------*/


@media only screen and (min-width: 1801px) {
  .links {
      font-size: 40px;
  }

  #appName {
      font-size: 75px;
  }
}
