/* @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Girassol&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.navbar {

  /* width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0;
  list-style: none;
  background: linear-gradient(125.53deg, #FFFFFF -642.42%, rgba(255, 255, 255, 0.4) -642.41%, rgba(255, 255, 255, 0.321897) -642.4%, rgba(255, 255, 255, 0.3) -571.6%);
  box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  height: 100%; */
  /* Note: backdrop-filter has minimal browser support */
  display: flex;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 100px;
  background: linear-gradient(125.53deg, #FFFFFF -642.42%, rgba(255, 255, 255, 0.4) -642.41%, rgba(255, 255, 255, 0.321897) -642.4%, rgba(255, 255, 255, 0.3) -571.6%);
  box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  display: inline-block;
}

.links {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 80px;
  margin:  auto 0;
  margin-left: 20px;
  width: 100%;
  /* font-family: 'Banger'; */
  /* font-family: 'Girassol', cursive; */
  /* font-family: "Bebas Neue"; */
  font-family: "Lobster";
  text-decoration: none;
}

.links :hover {
text-decoration: none;
}

.links a {
color: #000;
text-decoration: none;
display: flex;
justify-content: space-between;
/* text-align: center; */
}


.welcome {
  font-family: "Lobster";
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
}
/* .links a {
  display: inline;
} */ */

.button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.button button {
  margin: 5px;
  padding: 7px 15px;
  background-color: #fff;
  border: 1px solid #132A13;
  text-transform: inherit;
  color: #5f6368;
}

.button button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #31572C, #90A955);
  background-color: #31572C;
  border: 1px solid #c6c6c6;
  color: #222;
}
.buttonHidden {
  display: none !important
}

/*---------------IDs---------------*/

#appName {
  margin-left: 20px;
  font-size: 30px;
  font-family: 'Banger', cursive;
}



/*---------------Media Queries iPad---------------*/

@media only screen and (min-width: 375px) {

  .nav {
      display: flex;
      justify-content: space-between;
      padding-right: 20px; 
  }

  .links {
      font-size: 50px;
      width: 50%;
  }

  #appName {
      font-size: 45px;
  }

}

/*---------------Media Queries iPad Pro---------------*/

@media only screen and (min-width: 876px) {

  .links link {
      font-size: 45px;
      width: 50%;
  }

  /* .userWelcome {
      padding-left: 255px;
  } */

  #appName {
      font-size: 60px;
  }

}

/*---------------Media Queries Laptop---------------*/

/* 
@media only screen and (min-width: 1366px) {
  .links link {
      font-size: 40px;
      width: 45%;
  }

  #appName {
      font-size: 75px;
  }
} */

/*---------------Media Queries Desktop---------------*/


/* @media only screen and (min-width: 1801px) {
  .links {
      font-size: 40px;
  }

  #appName {
      font-size: 75px;
  }
} */
