@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/* Rectangle 3 */

.form {
  width: 500px;
  height: 500px;
  /* border: 5px red solid; */
  background: linear-gradient(117.82deg, rgba(235, 235, 235, 0) 1.58%, rgba(95, 95, 95, 0.4) 81.08%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
}


.title {
width: 540px;
height: 80px;
font-family: "Lobster";
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 87px;
letter-spacing: 0.135em;
color: #FFFFFF;
mix-blend-mode: overlay;

}
