@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.register {
  width: 60px;
  height: 60px;
  border: 5px red solid;
  background: linear-gradient(117.82deg, rgba(235, 235, 235, 0) 1.58%, rgba(95, 95, 95, 0.4) 81.08%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
}

.register-title {
  font-family: 'Bangers', cursive;
}