.search-input {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
}
/* Made the search bar span out */
.search-input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
} 

.search-input > input:focus {
  outline-width: 0;
}

.search-inputIcon {
  color: gray;
}

.search-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search-buttons button {
  margin: 5px;
  padding: 7px 15px;
  background-color: #ECF39E;
  border: 1px solid white;
  text-transform: inherit;
  color: #132A13;
}

.search-buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #31572C, #90A955);
  background-color: #31572C;
  border: 1px solid #c6c6c6;
  color: #222;
}
.search__buttonsHidden {
  display: none !important
}