body{
  /* background: white; */
}

.form {
  /* display: flex; */
  margin: auto;
  width: 900px;
  height: 579px;
  border: 5px red solid;
  background: linear-gradient(117.82deg, rgba(235, 235, 235, 0) 1.58%, rgba(95, 95, 95, 0.4) 81.08%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  color: #ECF39E;
}
.img {
/* position: absolute; */
width: 500px;
height: 390px;


}


.search__buttons {
  margin-top: 30px;
  /* display: flex; */
  justify-content: center;
}

.search__buttons button {
  margin: 5px;
  padding: 7px 15px;
  background-color: #ECF39E;
  border: 1px solid white;
  text-transform: inherit;
  color: #132A13;
}

.search__buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}
.search__buttonsHidden {
  display: none !important
}